{{#each recordings}}
    <tr>
        <td>
            {{created_at}}
        </td>
        <td>
            {{weather}}
        </td>
        <td>
            {{temp}}
        </td>
        <td>
            {{wind}}
        </td>
        <td>
            {{pressure}}
        </td>
    </tr>

{{/each}}
