{{> menu id="dashboard"}}
<div class="container">
    {{#each stations}}
        <div class="border p-2 my-2">
            <div class="row">
                <div class="col">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                        </div>

                    </div>
                    <a href="/station/{{station_id}}">Details</a>
                </div>
                <div class ="col">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Wetter</h5>
                            <p class="card-text"> {{weather}}</p>
                        </div>
                    </div>
                </div>
                <div class ="col">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Temperatur</h5>
                            <p class="card-text"> {{temp}} Grad</p>
                        </div>
                    </div>
                </div>
                <div class ="col">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Wind</h5>
                            <p class="card-text"> {{wind}} bft</p>
                        </div>
                    </div>
                </div>
                <div class ="col">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Luftdruck</h5>
                            <p class="card-text"> {{pressure}} hpa</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
