{{> menu id="dashboard"}}
<div class="container">
    {{#each stations}}
        <div class="border p-2 pb-5 my-2">
            <div class="row">
                <div class="col">
                    <div class="card text-white bg-dark mb-1 h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">
                                Lat: {{this.lat}}<br>
                                Long: {{this.long}}

                            </p>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-secondary" href="/station/{{this.id}}" role="button">
                            <i class="bi bi-folder2-open"></i>
                        </a>
                        <a class="btn btn-secondary" href="/dashboard/deletestation/{{this.id}}" role="button">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>

                </div>
                <div class ="col">
                    <div class="card text-white bg-dark mb-3 h-100">
                        <i class="bi {{this.weathericon}} position-absolute top-0 end-0 m-3" style="font-size: 2rem; color:white"></i>
                        <div class="card-body">
                            <h5 class="card-title ">Wetter</h5>
                            <p class="card-text">
                                {{this.weathertext}}

                            </p>
                        </div>
                    </div>
                </div>
                <div class ="col">
                    <div class="card text-white bg-dark mb-3 h-100">
                        <i class="bi {{this.tempicon}} position-absolute top-0 end-0 m-3" style="font-size: 2rem; color:lightblue"></i>
                        <i class="bi {{this.temptrend}} position-absolute top-0 end-0 mt-5 p-2" style="font-size: 2rem; color:lightblue"></i>
                        <div class="card-body">
                            <h5 class="card-title">Temperatur</h5>
                            <p class="card-text"> {{this.temp}}°
                            <br>
                                Min: {{this.min_temp}}
                            <br>
                                Max: {{this.max_temp}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class ="col">
                    <div class="card text-white bg-dark mb-3 h-100">
                        <i class="bi bi-wind position-absolute top-0 end-0 m-3" style="font-size: 2rem; color:orange"></i>
                        <i class="bi {{this.windspeedtrend}} position-absolute top-0 end-0 mt-5 p-2" style="font-size: 2rem; color:orange   "></i>
                        <div class="card-body">
                            <h5 class="card-title">Wind</h5>
                            <p class="card-text"> {{this.windspeed}} bft<br>
                            {{this.winddirection}} <br>
                                Min: {{this.min_windspeed}}<br>
                            Max: {{this.max_windspeed}} <br></p>
                        </div>
                    </div>
                </div>

                <div class ="col">
                    <div class="card text-white bg-dark mb-3 h-100">
                        <i class="bi bi-speedometer position-absolute top-0 end-0 m-3" style="font-size: 2rem; color:yellow"></i>
                        <i class="bi {{this.pressuretrend}} position-absolute top-0 end-0 mt-5 p-2" style="font-size: 2rem; color:yellow"></i>
                        <div class="card-body">
                            <h5 class="card-title">Luftdruck</h5>

                            <p class="card-text"> {{this.pressure}} hpa
                                <br>
                            Min: {{this.min_pressure}} <br>
                                Max: {{this.max_pressure}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    {{>addstation}}
</div>
