{{> menu id="dashboard"}}
<tbody>
    {{#each stations.data}}
        <tr>
            <td>{{name}}</td>
            <td> Wetter: {{weather}}</td>
            <td>{{temperature}}</td>
            <td>{{wind}}</td>
            <td> {{pressure}}</td>
        </tr>
    {{/each}}
</tbody>
