{{> menu id="station"}}
<div class="container">
    {{#unless currRecording}}
        <h1> {{station.name}}</h1>
    {{/unless}}
    {{#if currRecording}}
        <div class="row">
            <div class="col">
                <div class="card text-white bg-dark mb-3 h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{currRecording.name}}</h5>
                        <p class="card-text"> Lat: {{station.lat}} <br>
                            Long: {{station.long}}
                        </p>
                    </div>
                </div>
            </div>
            <div class ="col">
                <div class="card text-white bg-dark mb-3 h-100">
                    <i class="bi {{weathericon}} position-absolute top-0 end-0 m-3" style="font-size: 2rem; color:white"></i>
                    <div class="card-body">
                        <h5 class="card-title">Wetter</h5>
                            <p class="card-text"> {{weathertext}}</p>
                    </div>
                </div>
            </div>
            <div class ="col">
                <div class="card text-white bg-dark mb-3 h-100">
                    <i class="bi {{tempicon}} position-absolute top-0 end-0 m-3" style="font-size: 2rem; color:lightblue"></i>
                    <div class="card-body">
                        <h5 class="card-title">Temperatur</h5>
                        <p class="card-text"> {{currRecording.temp}} Grad</p>
                    </div>
                </div>
            </div>
            <div class ="col">
                <div class="card text-white bg-dark mb-3 h-100">
                    <i class="bi bi-wind position-absolute top-0 end-0 m-3" style="font-size: 2rem; color:orange"></i>
                    <div class="card-body">
                        <h5 class="card-title">Wind</h5>
                        <p class="card-text">
                            {{currRecording.windspeed}} bft <br>
                            {{winddirection}} <br>
                            Max:{{max_windspeed}} <br>
                            Min: {{min_windspeed}}
                        </p>
                    </div>
                </div>
            </div>
            <div class ="col">
                <div class="card text-white bg-dark mb-3 h-100">
                    <i class="bi bi-speedometer position-absolute top-0 end-0 m-3" style="font-size: 2rem; color:yellow"></i>
                    <div class="card-body">
                        <h5 class="card-title">Luftdruck</h5>
                        <p class="card-text"> {{currRecording.pressure}} hpa</p>
                    </div>
                </div>
            </div>
        </div>
{{/if}}
    <table class="table">
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Wetter</th>
            <th>Temperatur</th>
            <th>Windgeschwindigkeit</th>
            <th>Luftdruck</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                {{> listrecordings}}
            </tr>
        </tbody>
    </table>
    {{> addrecording}}
</div>